# Pastas geradas pelo build
**/build/
**/dist/
**/nbbuild/
**/nbdist/
**/.nb-gradle/

# Configurações locais/privadas do NetBeans
**/nbproject/private/

# Maven
**/target/

# Gradle
**/.gradle/

# Arquivos compilados
*.class
*.jar
*.war

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Outras IDEs
**/.idea/
*.iml
**/.vscode/